math-project-report/*
!math-project-report/math-project-report.tex
!math-project-report/math-project-report.pdf
!math-project-report/predefs.tex
!math-project-report/refs.bib

math-project-questions/*
!math-project-questions/math-project-questions.tex
!math-project-questions/math-project-questions.pdf

math-project-presentation/*
!math-project-presentation/math-project-presentation.tex
!math-project-presentation/math-project-presentation.pdf
!math-project-presentation/Logo.pdf

*.mp4
CSTR_setting.m
ODE_CSTR.m
*.pyc
venv

.vscode
.idea
