math-project-report.*
math-project-report-blx.*
!math-project-report.tex
!math-project-report.pdf

math-project-questions.*
!math-project-questions.tex
!math-project-questions.pdf

math-project-presentation.*
math-project-presentation-blx.*
!math-project-presentation.tex
!math-project-presentation.pdf

math-project-num-experiments/cstr/tests/*.png
math-project-num-experiments/cstr/tests/*.csv
math-project-num-experiments/cstr/tests/*.txt

predefs.*
!predefs.tex

*.mp4
CSTR_setting.m
ODE_CSTR.m
*.pyc
venv

.vscode
.idea

*.c
*.so
math-project-report/predefs.aux

submission
submission.zip
math-project-report/math-project-report 2.aux
